body {
    font-family: Arial, sans-serif;
    margin:0
}

.player-label{
    background-color: transparent;
    color: "#ffffff55";
}

.welcome {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    width: 100%;
    text-align: center;
    color: #CCCCCC;
}
.welcome div{
    padding: 0.2em;
}


.control-panel {
    background-color: #0000004D;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    border-radius: 0 0 0 12px;
    width: 400px;
    text-align: center;
}

.control-panel div {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.control-panel div:last-child {
    padding-bottom: 0px;
}

label {
    color: white;
    padding: 0 10px 0 10px;
    width: 75px;
}

input {
    vertical-align: middle;
}

.control-percentage {
    width: 80px
}