body {
    font-family: monospace;
    background-color: #000;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

/* .input_video needed???
{
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); // Safari and Chrome
    -moz-transform:rotateY(180deg); // Firefox
} */

.player-label{
    background-color: transparent;
    text-shadow:0 0 7px #FFF;
    margin-top: 1.5em;
}
.hud-label{
    background-color: transparent;
    text-shadow:1 1 3px #000;
    margin-top: 3em;
    opacity: 0.3;
}

#flag-holder {
    position: absolute;
    bottom: 100px;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    width: 100%;
    display: none;
}
#fps {
    position: absolute;
    top:0;
    left:0;
    opacity: 0.3;
    color: #fff;
}

.h_center{
    width: 80%;
    left: 10%;
}

#welcome {
    position: absolute;
    /* top: 0; */
    /* right: 0; */
    border: 1px solid silver;
    /* padding: 65px 20px; */
    text-align: center;
    color: silver;
    top: 4%;
    bottom:4%;
    background-color: #0004;
}

.site-wrapper{
    overflow-x:hidden;
    overflow-y:hidden;
}
#welcome div{
    padding: 0.2em;
}
.smaller{ font-size:smaller}
.larger{ font-size:larger }

@media only screen and (max-device-width: 736px) {
    #welcome {
        font-size: 1rem;
    }
    input {
        font-family: monospace;
        font-size: 1rem;
    }
    #choose-team{
        margin-top:-10px;
    }
    #face-display {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 25%;
        height: 25%;
        /*border: 1px solid silver;*/
        color: silver;
    }
}

.no_highlights{
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

 #mobile{
    display: none;
    position: absolute;
    text-align: center;
    color: silver;
    background-color: #0004;
    padding: 1em;
}
#mobile-confirm {
    margin: auto;
    width:30%;
    color:black;
    background-color:silver;

}
#mobile-btn {
    display:none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right:1em;
    text-align: center;
    opacity: 0.4;
}
#mobile-btn .face{
    border-width: 10px;
    border-style: solid;
    border-color: #000;
    border-radius: 50%;
    width:4em;
    height:4em;
    background-color:black;
}
#mobile-btn .text{
    color: silver;
}

.team-label {
    width: 200px;
    text-align: center;
    margin: auto;
}
.btn {
    padding: 0.3em 2em;
    margin: 0.3em;
    cursor: pointer;
    color:silver;
    background-color: #0004;
    border: 1px solid silver;
}
#nick {
    background-color: transparent;
    color: gray;
    border: 0;
    border-bottom: 1px solid #fff;
    padding: 0.2em;
    outline: 0;
    font-size: larger;
    color: #fff;
    width: 30%;
}


.red{ color: #C03030;}
.blue{ color: #4040FF;}

#game-display{
    padding:1em;
    display:none;
    font-size: larger;
    position: absolute;
    top: 2%;
    background-color:#0006;
    color:silver;
    border: 1px solid silver;
    text-align: center;
}

#game-over{
    display:none;
    position: absolute;
    top: 10%;
    right: 25%;
    width: 50%;
    border: 1px solid silver;
    background-color: #0006;
    text-align: center;
    font-size: larger;
}


.control-panel {
    background-color: #0000006D;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    border-radius: 0 0 0 12px;
    width: 400px;
    text-align: center;
}

#face-display {
    position: absolute;
    bottom: -10%;
    left: -10%;
    width: 25%;
    height: 25%;
    /*border: 1px solid silver;*/
    color: silver;
}
#face-display .cords {
    position: absolute;
    display: none;
    color:#00FFA0;
    top: 0px;
    right:100px;
}
#face-x, #face-y {color: silver}

.control-panel div {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.control-panel div:last-child {
    padding-bottom: 0px;
}

label {
    color: white;
    padding: 0 10px 0 10px;
    width: 75px;
}

input {
    vertical-align: middle;
    font-family: monospace;
}

.control-percentage {
    width: 80px
}

.dark-text-shadow{text-shadow:3px 3px 0.3em rgba(0,0,0,.9)};