body {
    font-family: monospace;
    font-size: 30px;
}

.player-label{
    background-color: transparent;
    font-family: monospace;
    text-shadow:0 0 7px #000;
    margin-top: 1em;
}

#welcome {
    position: absolute;
    /* top: 0; */
    /* right: 0; */
    padding: 65px 20px;
    width: 800px;
    text-align: center;
    color: silver;
    background-color: #ffffff40;
    left: calc(50% - 380px);
    top: calc(50% - 280px);
}
#nick {
    background-color: transparent;
    color: gray;
    border: 0;
    border-bottom: 1px solid #fff;
    padding: 0.2em;
    outline: 0;
    font-size: 27px;
    color: #fff;
    width: 200px;
}

div{
    padding: 0.2em;
}
.red{ color: #C03030}
.blue{ color: #4040FF}


#game-display{
    display:none;
    position: absolute;
    top: 0;
    right: 25%;
    width: 50%;
    background-color:black;
    color:silver;
    border: 1px solid silver;
    text-align: center;
}

#game-over{
    display:none;
    position: absolute;
    top: 130px;
    right: 25%;
    width: 50%;
    border: 1px solid silver;
    text-align: center;
    font-size: xx-large;
}


.control-panel {
    background-color: #0000004D;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    border-radius: 0 0 0 12px;
    width: 400px;
    text-align: center;
}

.control-panel div {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.control-panel div:last-child {
    padding-bottom: 0px;
}

label {
    color: white;
    padding: 0 10px 0 10px;
    width: 75px;
}

input {
    vertical-align: middle;
}

.control-percentage {
    width: 80px
}